.header {
  height: 64px;
  margin: 0;
  display: flex;
}

.header {
  &_navigation {
    padding: 1px;
  }
  &_top {
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  a {
    font-weight: bold;
    font-size:36px ;
  }
}


.humbergerMenu {
  display: none;
}

// // tablet
// @media (max-width: 900) {
//   .humbergerMenu {
//     display: block;
//   }
// }