@import "./variable";

.contents {
  background-color: $off-white;

  &-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;

    li:hover {
      cursor: pointer;
    }
  }
  &-card {
    width: 50%;
    text-align: center;
    height: 480px;
        
    div {
      margin: 0 auto;
      height: 320px;
      width: 320px;
    }

  }
}

@media screen and (max-width: 900px) {
  .contents {
    &-card {
      border: solid 4px $text-color;
      width: 100%;
      flex-direction: column;
      margin: 0 auto 4px 0;
    }
  }
}