@import "./variable";

.profile {

  h1 {
    text-align: center;
    color: #444;
  }

  &-info {
    max-width: 460px;
    margin: 0 auto;
    padding-left: 64px;
  }

  .account-info-container {
    height: 140px;
    display: flex;
    padding: 16px 8px;
    justify-content: center;

    li {
      padding: 0 12px;

      .app-icon {
        height: 60px;
        width: 60px;

        a {
          display: inline-block;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .profile-info {
    padding-left: 16px;
  }
}