@import "./header";
@import "./footer";
@import "./home";
@import "./profile";
@import "./variable";
@import "./utils.module.scss";

main {
  background-color: $white;
  // min-height: 100vh;
}
.blank {
  &-small {
    height: 16px;
    // background-color: $off-white;
  }
  &-middle {
    height: 24px;
    // background-color: $off-white;
  }
}

.my-icon {
  margin: 28px auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}