@import "./header";
@import "./footer";
@import "./home";
@import "./profile";
@import "./contact";
@import "./utils.module.scss";
@import "./contentsCard";
@import "./works";
@import "./library";
@import "./modal";

@import "./variable";

main {
  background-color: $white;
  min-height: 100vh;
}
.blank {
  &-small {
    height: 16px;
  }
  &-middle {
    height: 24px;
  }
  &-large {
    height: 42px;
  }
}

.my-icon {
  margin: 28px auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.page {
  padding-top: $header-height + 24px;

  
  h1 {
    text-align: center;
    font-weight: normal;
  }
}