@import "./header";
@import "./home";
@import "./variable";

.blank {
  
  &-small {
    height: 16px;
    background-color: $off-white;
  }
  &-middle {
    height: 24px;
    background-color: $off-white;
  }
}